*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #70A288;

}

.logo{
    transition-property: font-size;

}

.logo:hover{
    font-size: 50px;
}

.main{
    width: 100%;
    background-color: #70A288;
}

h3{
    background-color: #70A288;
    font-size: large;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DAB785;
    border: solid;

  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #70A288;
  }
  
  .active {
    background-color: #70A288;
  }
  .login-user {
    height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom
  }

  h1 {
    text-align: center;
  }

  .centerphoto{
    width: 500px;
    height: 300px;
    border-radius: 25%;
    overflow: hidden;
    margin: 25px auto;
    display: block;
  }

  .card-body {
    border: 1px solid black;
    width: 300px;
    float: right;
 }
 
 .img-container img {
    max-width: 100%;
    height: auto;
 }
 
 .card-body p, .card-body h1 {
    margin: 8px;
 }
 .card-body2 {
    border: 1px solid black;
    width: 300px;
 }
 .card-body2 p, .card-body2 h1 {
    margin: 8px;
 }

 table {
    width: 50%;
    text-align: center;
    border: 2px black;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
 }
 
 th, td {
    border: 1px solid black;
    height: 70px;
    padding: 15px;
    background-color: #DAB785;
    
 }
 
 td:hover {
    background-color: #70A288;
    color: white;
 }
 

/*Navbar
.navbar{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
    padding: 10px;
    background-color: #DAB785;
}*/
/*logo
.logo{
    background-color: #DAB785;
}*/